# Devenv
.devenv*
devenv.local.nix
opencode.jsonc

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Ansible
.ansible/
ansible/.facts_cache/
ansible/tmp
ansible/roles/xanmanning.k3s

# Secrets
*.pub
*.key
*.decrypted~*.yaml
/age.key
/cloudflare-tunnel.json
/github-deploy.key
/github-deploy.key.pub
/github-push-token.txt

# Kubernetes
kubeconfig

# Misc.
.agents/
.private/
.task/
.venv/
.DS_Store
Thumbs.db
*.log
